# <배깅 中 랜덤포레스트 실습>

# 1. 데이터 불러오기

In [2]:
## 필요한 패키지를 불러옵니다.
import os
import pandas as pd

In [3]:
## 경로설정을 해줍니다.
os.chdir(r'C:\Users\LG\OneDrive\문서\Study\PRE\파이썬 머신러닝\4-2 실습 파일\data')
## 위의 경로설정은 제 컴퓨터를 기준으로 입력한 것으로 각자 데이터를 저장한 위치에 맞게 바꿔주시기 바랍니다.

data = pd.read_csv("bank-additional-full.csv", sep = ';')
## sep = ';' 의 의미 : 구분인자가 ';'이다.

In [4]:
## 불러온 금융데이터의 상위 5개 행을 봅니다.
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
data.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

- y                  object => 우리가 예측해야 하는 data

In [6]:
## 카테고리형 변수(= 범주형 변수)를 수치화시키는 one hot encoding

In [7]:
## 카테고리형 변수를 수치화시키는 one hot encoding이란 방법론을 pd.get_dummies란 함수를 통해 실행시킵니다.
data = pd.get_dummies(data,columns=['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome'])

In [8]:
data

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41184,46,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41185,56,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41186,44,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41187,74,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,1,0,0

- train / test data 7:3비율로 나누기

In [9]:
## 아이디를 생성합니다.
data['id']=range(len(data))

In [10]:
len(data)

41188

In [11]:
## data 중에서 30000개를 랜덤으로 추출해 train 데이터로 지정합니다.
train = data.sample(30000,replace=False,random_state=2020).reset_index().drop(['index'],axis=1)

In [12]:
## 추출되지 않은 나머지를 test 데이터로 지정합니다.
test = data.loc[ ~data['id'].isin(train['id']) ].reset_index().drop(['index'],axis=1)

# 2. 랜덤포레스트 실습

<strong>특징</strong>

1. 해석이 어렵다.
2. 매우 느리다.
3. 의사결정나무보다 더 객관적인 변수 중요도를 뽑아낼 수 있다.


<strong>파라미터</strong>

1. n_estimators : 몇 개의 의사결정나무를 만들 것인지
- 값이 클수록 예측성능이 좋아짐. 그만큼 학습/예측속도는 늦음 
2. max_depth : 각 의사결정나무의 최대깊이
3. min_samples_split : 각 의사결정나무에서 각 노드의 최소 샘플 수

<strong>랜포 학습시키기</strong>

In [13]:
## 의사결정나무를 위한 패키지를 임포트합니다.
from sklearn.ensemble import RandomForestClassifier
## 모델 정의! 
rf = RandomForestClassifier(n_estimators=500, min_samples_split = 10)

In [14]:
## 학습에 활용할 input 변수를 지정합니다. -> y, id값 꼭 빼야됨 
input_var = ['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.4y', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success']

In [15]:
#  rf.fit(      ,train['y'])  #타겟변수

In [16]:
## 의사결정나무 모델을 train 데이터에서 학습시킵니다.
rf.fit(train[input_var],train['y'])

RandomForestClassifier(min_samples_split=10, n_estimators=500)

In [17]:
## 예측을 진행합니다.
predictions = rf.predict(test[input_var])

In [18]:
test['pred'] = predictions

In [19]:
## 정확도를 살펴봅니다.
(test['pred'] ==test['y']).mean()

0.9122273864855202

<strong>의사결정나무와의 비교</strong>

In [20]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(min_samples_split = 10)

In [21]:
dt.fit(train[input_var],train['y'])

test['pred'] = dt.predict(test[input_var])

In [22]:
(test['pred'] == test['y']).mean()

0.8985520200214515

# cf) 변수 중요도 뽑아내기

In [27]:
# 각 변수에 대한 변수 중요도
feature_imp = rf.feature_importances_ 
feature_imp

array([5.50356112e-02, 3.22846328e-01, 2.35553102e-02, 4.22096198e-02,
       1.28226568e-02, 3.03961382e-02, 3.18041116e-02, 3.17806242e-02,
       9.78678025e-02, 6.97452501e-02, 6.95612402e-03, 5.97261294e-03,
       3.15557391e-03, 3.19428550e-03, 4.72038179e-03, 4.82638723e-03,
       3.67430308e-03, 5.01900889e-03, 3.81515362e-03, 6.47317028e-03,
       3.56874065e-03, 1.70212380e-03, 5.04778216e-03, 6.56448947e-03,
       6.87115786e-03, 6.68122094e-04, 4.45901885e-03, 3.78048232e-03,
       5.49640708e-03, 6.91862445e-03, 1.51959026e-04, 5.86586768e-03,
       7.95861112e-03, 4.74488789e-03, 4.39724999e-03, 4.27546021e-03,
       8.99562276e-08, 6.49983561e-03, 1.91753952e-03, 6.47660925e-03,
       5.93061699e-03, 1.90901364e-03, 5.74654499e-03, 7.68262543e-03,
       7.25450635e-03, 4.77671281e-03, 2.59081776e-03, 9.67740180e-04,
       2.74835187e-03, 3.33434274e-03, 6.31399548e-03, 6.28160099e-03,
       2.24340622e-03, 7.47539984e-03, 2.57371991e-03, 7.01857125e-03,
       7.76766452e-03, 7.48890251e-03, 6.85143947e-03, 6.72686738e-03,
       8.03457401e-03, 8.66995395e-03, 2.63771188e-02])

In [28]:
# 근데 어떤 변수에 대한 중요도?
input_var

['age',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed',
 'job_admin.',
 'job_blue-collar',
 'job_entrepreneur',
 'job_housemaid',
 'job_management',
 'job_retired',
 'job_self-employed',
 'job_services',
 'job_student',
 'job_technician',
 'job_unemployed',
 'job_unknown',
 'marital_divorced',
 'marital_married',
 'marital_single',
 'marital_unknown',
 'education_basic.4y',
 'education_basic.6y',
 'education_basic.9y',
 'education_high.school',
 'education_illiterate',
 'education_professional.course',
 'education_university.degree',
 'education_unknown',
 'default_no',
 'default_unknown',
 'default_yes',
 'housing_no',
 'housing_unknown',
 'housing_yes',
 'loan_no',
 'loan_unknown',
 'loan_yes',
 'contact_cellular',
 'contact_telephone',
 'month_apr',
 'month_aug',
 'month_dec',
 'month_jul',
 'month_jun',
 'month_mar',
 'month_may',
 'month_nov',
 'month_oct',
 'month_sep',
 'day_of_week_fri',
 'day_of_week_mon',
 'day_of_week_thu',
 'day_of_week_tue',
 'day_of_week_wed',
 'poutcome_failure',
 'poutcome_nonexistent',
 'poutcome_success']

In [29]:
 # 데이터 프레임을 하나 만들고 var, imp라는 변수 지정
imp_df = pd.DataFrame({'var':input_var,
                       'imp':feature_imp})
imp_df         
# 중요도(imp수치)가 클수록 결과에 더 영향을 미치는 변수

                     var       imp
0                    age  0.055036
1               duration  0.322846
2               campaign  0.023555
3                  pdays  0.042210
4               previous  0.012823
..                   ...       ...
58       day_of_week_tue  0.006851
59       day_of_week_wed  0.006727
60      poutcome_failure  0.008035
61  poutcome_nonexistent  0.008670
62      poutcome_success  0.026377

[63 rows x 2 columns]

In [30]:
# 중요도를 기준으로 내림차순 솔팅 할거임 
imp_df.sort_values(['imp'],ascending = False)

                     var           imp
1               duration  3.228463e-01
8              euribor3m  9.786780e-02
9            nr.employed  6.974525e-02
0                    age  5.503561e-02
3                  pdays  4.220962e-02
..                   ...           ...
21           job_unknown  1.702124e-03
47             month_dec  9.677402e-04
25       marital_unknown  6.681221e-04
30  education_illiterate  1.519590e-04
36           default_yes  8.995623e-08

[63 rows x 2 columns]

duration이 가장 중요도가 큰 변수